<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
    <title>Homepage</title>
  </head>
  <body>
    <% messages.forEach((message) => { %>
    <ul>
      <%= message.text %> <%= message.user %> <%= message.added %>
    </ul>
    <%})%>
  </body>
</html>
